.img{
    background-image: url('/assets/images/home1.jpg');
background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
    height: 100vh;
}  
.header {
    position: relative;
  }
  
  .header img {
    width: 100%;
    height: auto;
  }
  
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgba(157, 85, 85, 0.5); /* Change the opacity and color as needed */
  }
  
  .nav a {
    color: rgb(69, 105, 173);
    text-decoration: none;
    margin: 0 10px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .h1{
    position: absolute;
    top:25%;
    padding: 20px;
    color: rgb(233, 113, 113);
}
.text{
  position: absolute;
  text-align: center;
  color: rgb(239, 244, 245);
 
  font-style: oblique;
  top:48%;
  /* background-color: rgb(192, 154, 154); */
 margin-left: 270px;
 padding: 17px;
 border-radius: 5px;
 padding-top: 7px;
 padding-bottom: 8px;

 
}
